<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.namix.myweb.dao.NoticeDao">
  <select id="getList" resultType="com.namix.myweb.entity.Notice">
    	select * from list where ${field} like '%${query}%' order by listId desc limit #{offset}, #{size}
  </select>
  
  <select id="getDetail" resultType="com.namix.myweb.entity.Notice">
  		select * from list where listId = #{id}
  </select>
  
  <select id="getCount" resultType="int">
  		select count(*) from list where ${field} like '%${query}%'
  </select>
  
  <select id="getCommentCount" resultType="int">
  		select count(*) from comment where listId = #{id}
  </select>
  
  <select id="getListLike" resultType="int">
	 	select count(*) from listlike where listId = #{id}
  </select>
  
  <select id="getComment" resultType="com.namix.myweb.entity.Comment">
  		select * from comment where listId = #{id}
  </select>
  
  <insert id="addLike" parameterType="com.namix.myweb.entity.ListLike">
  		insert into listlike(listId, userId) values(#{listId}, #{userId})
  </insert>
  
  <insert id="postComment" parameterType="com.namix.myweb.entity.Comment">
  		insert into comment(commentContent, userId, listId) values(#{commentContent}, #{userId}, #{listId})
  </insert>
  
  <update id="updateDetail">
  		update list set listTitle = #{listTitle}, listContent = #{listContent} where listId = #{id}
  </update>
  
  <insert id="writeDetail">
  		insert into list(listTitle, listContent, userId) values(#{listTitle}, #{listContent}, #{userId})
  </insert>
  
  <select id="getUsersLastListId" resultType="int">
  		select listId from list where userId = #{userId} order by listId desc limit 1;
  </select>
  
  <delete id="deleteDetail">
  		delete from list where listId = #{id}
  </delete>
  
</mapper>