<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.namix.myweb.dao.UserDao">
 	<select id="login" resultType="com.namix.myweb.entity.User">
 		select * from user where userId = #{userId} and userPassword = #{userPassword}
 	</select>
 	<insert id="reg">
 		insert into user(userId, userPassword, userName, userEmail, userGender) 
 		values(#{regId}, #{regPassword}, #{regName}, #{regEmail}, #{regGender})
 	</insert>
 </mapper>